<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>后台系统-用户管理业务</h1>
    <div>用户名：<input id="username" /></div>
    <div>密 码：<input type="password" id="password" /></div>
    <div>年 龄：<input type="number" id="age" /></div>
    <div><button id="register">添加用户</button></div>
    <hr />
    <!-- <div>
      <button id="update">更新用户</button>
      <button id="delete">删除用户</button>
    </div> -->

    <table border="1">
      <thead>
        <td>id</td>
        <td>用户名</td>
        <td>年龄</td>
        <td>操作</td>
      </thead>
      <tbody></tbody>
    </table>

    <script>
      var username = document.querySelector("#username");
      var password = document.querySelector("#password");
      var age = document.querySelector("#age");
      var register = document.querySelector("#register");
      var update = document.getElementsByClassName(".update");
      var handleDelete = document.getElementsByClassName(".delete");

      // 注册
      register.onclick = () => {
        console.log(username.value, password.value, age.value);
        fetch("/api/user", {
          method: "POST",
          body: JSON.stringify({
            username: username.value,
            password: password.value,
            age: age.value,
          }),
          headers: {
            "Content-Type": "Application/json",
          },
        })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
          });
      };

      // 获取列表
      var getList = () => {
        fetch("/api/user?page=1&limit=10")
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            const list = res;
            const el = document.querySelector("tbody");
            el.innerHTML = list
              .map(
                (item) =>
                  `<tr>
              <td>${item._id}</td>  
              <td>${item.username}</td>  
              <td>${item.age}</td>  
              <td><button class="update" data-id="${item._id}">更新</button></td>  
              <td><button class="delete" data-id="${item._id}">删除</button></td>  
            </tr>`
              )
              .join("");
          });
      };
      getList();

      document.addEventListener("click", (e) => {
        // 更新
        if (e.srcElement.className === "update") {
          console.log(e.srcElement.className);
          let id = e.srcElement.dataset.id;
          fetch(`/api/user/${id}`, {
            method: "PUT",
            body: JSON.stringify({
              username: username.value,
              password: password.value,
              age: age.value,
            }),
            headers: {
              "Content-Type": "Application/json",
            },
          })
            .then((res) => res.json())
            .then((res) => {
              console.log(res);
              getList();
            });
        } else if (e.srcElement.className === "delete") {
          // 删除
          console.log(e.srcElement.className);
          let id = e.srcElement.dataset.id;
          fetch(`/api/user/${id}`, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((res) => {
              console.log(res);
              getList();
            });
        }
      });
    </script>
  </body>
</html>
