<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>home</h1>
    <%- include('./layout/header.ejs',{isShow:true}) %>
    <ul>
      <% if(list.length){%>
        <% for(var i = 0;i<list.length;i++){%>
          <li><%=list[i]%></li>
        <% } %>
      <% } %>
    </ul>

    <%-el%>

    <%- include('./layout/footer.ejs') %>
  </body>
</html>
